@use './variables.sass'
@use './fonts.sass'

button, input, textarea
  font-size: inherit
  font-family: inherit
  font-weight: inherit
  line-height: inherit
  color: inherit
  background: transparent

body
  background: var(--wds-dark-grey-70)
  color: var(--wds-light-grey-05)
  font-family: 'Inter'
  font-size: 20px
